/* Basic Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* Browser default is 16px. (10px / 16px) = 62.5% */
  font-size: 62.5%; }

/* Font using INHERITANCE 
 * Font-family will get inherited by all elements in the body
 */
body {
  /* Borders and padding are no longer added to the height and width of an elem */
  box-sizing: border-box;
  font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  width: 114rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 5rem; }

ul.nav-bar {
  padding-bottom: 5rem; }
  ul.nav-bar li {
    list-style-type: none;
    display: inline-block;
    overflow: wrap;
    width: 15rem;
    vertical-align: top; }
    ul.nav-bar li a {
      display: block;
      text-decoration: none; }
      ul.nav-bar li a:hover {
        background-color: #ad8ddb; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-med {
  margin-bottom: 6rem; }

.table-of-content {
  font-size: 2rem; }

.table,
.table td,
.table th {
  border: 0.1rem solid black;
  text-align: center;
  padding: 1rem 2rem; }

.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; }
  .table th {
    background-color: #8949e2; }
  .table tr:nth-child(odd) {
    background-color: lightgray; }
  .table__spell-name--1 {
    width: 25%; }
  .table__spell-name--2 {
    width: 25%; }
  .table__domain--1 {
    width: 0%; }
  .table__domain--2 {
    width: 15%; }
  .table__level--1 {
    width: 10%; }
  .table__level--2 {
    width: 10%; }
  .table__casting-time--1 {
    width: 10%; }
  .table__casting-time--2 {
    width: 10%; }
  .table__range--1 {
    width: 15%; }
  .table__range--2 {
    width: 10%; }
  .table__components--1 {
    width: 20%; }
  .table__components--2 {
    width: 20%; }
  .table__duration--1 {
    width: 20%; }
  .table__duration--2 {
    width: 20%; }
  .table__td-spell-name {
    position: relative;
    cursor: pointer; }
    .table__td-spell-name__spell-description {
      cursor: text;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(27rem, -1.1rem);
      background-color: rgba(3, 218, 197, 0.9);
      border: 0.1rem solid black;
      text-align: left;
      padding: 1rem 3rem;
      display: none;
      z-index: 10;
      width: 50rem; }
